NEXT_PUBLIC_HOST=
NEXT_PUBLIC_API_HOST=
NEXT_PUBLIC_WSS_HOST=

NEXT_PUBLIC_KAKAO_REST_API_KEY=
NEXT_PUBLIC_KAKAO_JS_KEY=

NEXT_PUBLIC_NAVER_CLIENT_ID=
NEXT_PUBLIC_NAVER_CLIENT_SECRET=
NEXT_PUBLIC_NAVER_STATE=
